@import url(https://fonts.googleapis.com/css?family=Poppins&display=swap);



.login-page {
  width: 100vh;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 50%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
}
textarea {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  height: 400px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  word-break: break-word;
}

.alert {
    background-color: #42f587;
    padding: 10px;
    border: 5px solid #42f56c;
    font-family: "Poppins", sans-serif;
    font-size: 14px;

}

.img {
    position: relative;
    width: 100px;
    margin: 0 auto 100px;
    padding: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
img {
    width: 100px;
    display: flex;
}

h3{
    margin-top: -20px;
    color: gray;
}

.form button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #6200EE;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-bottom: 20px;
}
.form button:hover,.form button:active,.form button:focus {
  background: rgb(89, 0, 212);
}
.container {
  position: relative;
  z-index: 1;
  max-width: 70%;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #ffc107;
  background: -webkit-linear-gradient(right, #ffc107, #fdc10d);
  background: -moz-linear-gradient(right, #ffc107, #fdc10d);
  background: -o-linear-gradient(right, #ffc107, #fdc10d);
  background: linear-gradient(to left, #ffc107, #fdc10d);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}


#label1{
  margin-top: 0px;
}

.link {
  position: relative;
  width: 100vh;
  
  text-align: center;
}

a {
  margin: auto;
}
